<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <title>Weather App</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class="your-location">weather search update</p>

        <form>
            <input type="text" placeholder="Location">
            <button>search</button>
        </form>

        <p id="update-1"></p>
        <p id="update-2"></p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>